    <h1>Reservations of {{this.data.email}}</h1>
    <div class="table-responsive">
      <table *ngIf="reservations" class="table table-striped table-sm">
        <thead>
            <tr>
            <th>Origin #1</th>
            <th>Destination #1</th>
            <th>Origin #2</th>
            <th>Destination #2</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
            <td>{{reservation.departingFlight.origin}}</td>
            <td>{{reservation.departingFlight.destination}}</td>
            <td *ngIf="reservation.returningFlight">{{reservation.returningFlight.origin}}</td>
            <td *ngIf="!reservation.returningFlight"></td>
            <td *ngIf="reservation.returningFlight">{{reservation.returningFlight.destination}}</td>
            <td *ngIf="!reservation.returningFlight"></td>
            <td><button class="btn btn-info">Details</button></td>
            </tr>
        </tbody>
      </table>
    </div>
