    <h1>Friends of {{this.data.email}}</h1>
    <div class="table-responsive">
      <table *ngIf="friends" class="table table-striped table-sm">
        <thead>
            <tr>
            <th>email</th>
            <th>name</th>
            <th>surname</th>
            <th>city</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let friend of friends">
            <td>{{friend.email}}</td>
            <td>{{friend.name}}</td>
            <td>{{friend.surname}}</td>
            <td>{{friend.city}}</td>
            </tr>
        </tbody>
      </table>
    </div>
