<div class="text-center" >
    <form class="form-signin" [formGroup]="form" (ngSubmit)="signIn(form.value)">
      <div class="text-center mb-4">
        <i class="fas fa-user-astronaut fa-3x"></i>
        <h1 class="h3 mb-3 font-weight-normal">log in</h1>
      </div>

      <div class="alert alert-danger" *ngIf="invalidLogin">
        Invalid username and/or password.
      </div>

      <div class="form-group">
        <label for="email" class="sr-only">Email address</label>
        <input 
            formControlName="email"
            id="email" 
            type="email"
            class="form-control" 
            placeholder="e-mail" 
            required 
            >
        <div *ngIf="f.email.pending">
            <i class="fas fa-spinner"></i>
            Checking...
        </div>
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-warning">
          <div *ngIf="f.email.errors.required">Email is required.</div>
          <div *ngIf="f.email.errors.email">Email format must be example@domain.com</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input 
            formControlName="password"
            type="password" 
            id="password" 
            class="form-control" 
            placeholder="password" 
            required>
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-warning">Password is required.</div>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-info btn-block" type="submit" [disabled]="!form.valid">Sign In</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; PUSGS 2020</p>
    </form>
</div>