
<div class="col-md-8 order-md-1">
    <h2 class="mb-3">My Profile</h2>
    <form class="needs-validation" [formGroup]="form"  (ngSubmit)="saveChanges()">     
    <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input 
            formControlName="name"
            type="text" 
            class="form-control" 
            id="firstName" 
            placeholder="" 
            value="form" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="surname">Last name</label>
          <input 
            formControlName="surname"
            type="text" 
            class="form-control" 
            id="surname" 
            placeholder="" 
            value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <input 
          type="email"
          formControlName="email"
          class="form-control" 
          id="email" 
          placeholder="you@example.com" required>
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <div class="mb-3">
        <label for="city">City</label>
        <input 
          type="text" 
          formControlName="city"
          class="form-control" 
          id="city" 
          placeholder="NYC" required>
        <div class="invalid-feedback">
          Please enter your city.
        </div>
      </div>

      <div class="mb-3">
        <label for="password">New password(optional)</label>
        <input 
          type="password" 
          formControlName="password"
          class="form-control" 
          id="password" 
          placeholder="if you don't want to change password, leave this empty">
        <div class="invalid-feedback">
          Please enter your new password.
        </div>
      </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block">Save Changes</button>
    <div *ngIf="changed">Changes were saved.</div>
    </form>
</div>