<div class="center-narrow">
    <h2>Users</h2>
      <div class="table-responsive">
        <table datatable class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Surname</th>
              <th>City</th>
              <th>Phone number</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let user of users">
              <tr *ngIf="user.id != currentId"> <!--ne prikazujem trenutnog korisnika-->
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.city}}</td>
                <td>{{user.phoneNumber}}</td>
                <td><button type="button" class="btn btn-info" [routerLink]="['/accounts/profile/', user.id]">...</button></td>
              </tr>
            </ng-container>  
          </tbody>
        </table>
    </div>
</div>