<div class="center-narrow" *ngIf="reservation">
  <h2 style="text-align: center; color: brown;" class="mb-3">Reservation ID {{reservation.id}}</h2>   
  <div class="row">
    <div class="col">
      <div class="col-md-8 order-md-1">
        <h2 class="mb-3"></h2>   
        <h2 class="mb-3">Flight #1</h2>   
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label class="label-info"  for="airline">Airline</label>
          </div>
          <div class="col-sm-6 mb-3">
            <label>{{reservation.departingFlight.airline.name}}</label>
          </div>
      </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info"  for="firstName">Origin</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.departingFlight.origin}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info"  for="firstName">Destination</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.departingFlight.destination}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Takeoff time</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.departingFlight.takeoffTime | date:'medium'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Landing time</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.departingFlight.landingTime | date:'medium'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Price</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.departingFlight.price | currency}}</label>
            </div>
        </div>
        <div class="row" *ngIf="finished1 === 1">
          <div class="col-sm-6 mb-3">
            <label class="label-info">My rating(1-5)</label>
          </div>
          <div class="col-sm-6 mb-3">
            <input *ngIf="!review" class="form-control" placeholder="enter to confirm" #rating (keyup.enter)="onKey($event)" id="rating" name="rating" type="number">
            <label *ngIf="review">Ostavio review</label>
          </div>
        </div>
        <div class="mb-3">
        </div>
        <hr class="mb-4">
      </div>
    </div>
    <div class="col" *ngIf="reservation.returningFlight">
      <div class="col-md-8 order-md-1">
        <h2 class="mb-3"></h2>   
        <h2 class="mb-3">Flight #2</h2>  
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label class="label-info"  for="airline">Airline</label>
          </div>
          <div class="col-sm-6 mb-3">
            <label>{{reservation.returningFlight.airline.name}}</label>
          </div>
      </div> 
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info"  for="firstName">Origin</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.returningFlight.origin}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info"  for="firstName">Destination</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.returningFlight.destination}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Takeoff time</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.returningFlight.takeoffTime | date:'medium'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Landing time</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.returningFlight.landingTime | date:'medium'}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
              <label class="label-info">Price</label>
            </div>
            <div class="col-sm-6 mb-3">
              <label>{{reservation.returningFlight.price | currency}}</label>
            </div>
        </div>
        <div class="row" *ngIf="finished2 === 1">
          <div class="col-sm-6 mb-3">
            <label class="label-info">My rating(1-5)</label>
          </div>
          <div class="col-sm-6 mb-3">
            <input *ngIf="!review2" class="form-control" placeholder="enter to confirm" #rating (keyup.enter)="onKey2($event)" id="rating" name="rating" type="number">
            <label *ngIf="review2">Ostavio review</label>
          </div>
        </div>
        <div class="mb-3">
        </div>
        <hr class="mb-4">
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-danger btn-block" (click)=cancelReservation(reservation.id)>Cancel</button>
    <div class="alert" *ngIf="noTime">There's less then 3 hours left till flight, you can't cancel it.</div>
  </div>
</div>