<div class="center-narrow">
<h2>Friends</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Surname</th>
          <th>City</th>
          <th>Phone number</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friends">
          <td>{{friend.email}}</td>
          <td>{{friend.name}}</td>
          <td>{{friend.surname}}</td>
          <td>{{friend.city}}</td>
          <td>{{friend.phoneNumber}}</td>
          <!--<td><button (click)="friendsReservations(friend)">bookings</button></td>
          <td><button (click)="friendsFriends(friend)">friends</button></td>
          <td><button (click)="friendsDetails(friend)" [routerLink]="'/friends/' + friend.id + '/list-friends'">friends</button></td>-->
          <td><button type="button" class="btn btn-info" (click)="showFriendsModule(friend)">friends</button></td>
          <td><button type="button" class="btn btn-info" (click)="showReservationsModule(friend)">reservations</button></td>
          <td><button type="button" class="btn btn-danger" (click)="unfriend(friend)">x</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>