<h2>Returning flights that match your criteria</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Origin</th>
                  <th>Destination</th>
                  <th>Date</th>
                  <th>Takeoff time</th>
                  <th>Landing time</th>
                  <th>Stops</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let flight of flights">
                  <td>{{flight.id}}</td>
                  <td>{{flight.origin}}</td>
                  <td>{{flight.destination}}</td>
                  <td>{{flight.takeoffTime | date}}</td>
                  <td>{{flight.takeoffTime | date:'h:mm a z'}}</td>
                  <td>{{flight.landingTime | date:'h:mm a z'}}</td>
                  <td>{{flight.stops}}</td>
                  <td>{{flight.price}}</td>
                  <td><button (click)="select(flight)">Select</button></td>
                </tr>
              </tbody>
            </table>
          </div>