<!--<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
</head>
<body>-->
  <div class="center-narrow">
    <h2>Users - Admin's view</h2>
    <div class="table-responsive" >
      <table *ngIf="users" datatable class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Phone number</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of users">
            <tr *ngIf="user.id != currentId"> 
              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.city}}</td>
              <td>{{user.phoneNumber}}</td>
              <!--<td><button type="button" class="btn btn-success" (click)="addFriend(user.id)">add</button></td>-->
              <td><button type="button" class="btn btn-dark" [routerLink]="['/edit-profile/', user.id]">edit</button></td>
              <td><button type="button" class="btn btn-dark" (click)="delete(user.id)">delete</button></td>
            </tr>
          </ng-container>  
        </tbody>
      </table>
    </div>
  </div>
<!--
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  </script>
</body>-->
    <!--
<div class="center-narrow">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone number </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>   
    <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="addFriend(element.id)">Add</button> </td>
  </ng-container>

  <ng-container matColumnDef="actions2">
    <th mat-header-cell *matHeaderCellDef></th>   
    <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="delete(element.id)">Delete</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.hidden]="row.id !== currentId"></tr>
</table>
</div>-->