<h1>Flights</h1>
<div class="table-responsive">
  <table *ngIf="data" class="table table-striped table-sm">
    <thead>
        <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Takeoff Time</th>
        <th>Landing Time</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flight of data">
        <td>{{flight.origin}}</td>
        <td>{{flight.destination}}</td>
        <td>{{flight.takeoffTime | date}}</td>
        <td>{{flight.takeoffTime | date:'h:mm a z'}}</td>
        <td>{{flight.landingTime | date:'h:mm a z'}}</td>
        <td>{{flight.price}}</td>
        </tr>
    </tbody>
  </table>
</div>